---
import Period from './Period.astro'
import Header from '../../components/Header/Header.astro'
import multilangSpliter from '../../utils/multilangSpliter.js'

export interface Props{
    lang: 'en' | 'tw'
}

const contact = Astro.fetchContent('./src/*.md');

const md = multilangSpliter(contact)

const { lang = 'tw' } = Astro.props;
---

<section>
    <Header>
        Experiece
    </Header>
    <div class="content">
        {md[lang].sort().map(period => (
            <Period 
                to={period.to}
                from={period.from}
                title={period.title}
                desc={period.astro.source}
                company={period.company}
                type={period.type}
                />
        ))}    
    </div>
</section>
