---
import Period from './Period.astro'
import Header from '../../components/Header/Header.astro'

const periods = Astro.fetchContent('./src/*.tw.md');
---

<style>

</style>
<div>
    <Header>
        Experiece
    </Header>
    {periods.map(period => (
        <Period 
            to={period.to}
            from={period.from}
            title={period.title}
            desc={period.astro.source}
            company={period.company}
            />
    ))}    
</div>
