---
import Period from '../components/Period.astro';
import Header from '../components/Header.astro';
import multilangSpliter, {
  type MD,
  type LangProps,
} from '../utils/multilangSpliter.js';

export interface Props extends LangProps {}
const { lang = 'tw' } = Astro.props;

const files = await Astro.glob('../content/experience/*.md');
const mds = multilangSpliter(files, lang, true);
---

<section>
  <Header>Experiece</Header>
  <div class="content">
    {
      mds.sort().map(({ frontmatter, Content }) => {
        return (
          <Period
            to={frontmatter.to}
            from={frontmatter.from}
            title={frontmatter.title}
            company={frontmatter.company}
            type={frontmatter.type}
          >
            <Content />
          </Period>
        );
      })
    }
  </div>
</section>
